<web-app>
    <servlet>
        <servlet-name>register page</servlet-name>
        <jsp-file>/register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>login page</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>profile page</servlet-name>
        <jsp-file>/profile.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>register page</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login page</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile page</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
</web-app>
